.list {
    display: "grid"; 
}
.row:after {
    content: "";
    display: table;
    clear: both;
    }

.column-text {
    float: left;
    width: 40%;
    }

.column-numbers {
    width: 25%;
    }

.link{
    text-decoration: none;
}

.beer-text{
    font-size: 20px;
    }

.brewery-text{
    font-size: 15px;
}
.beer-list-item-container{
    width: 40%;
    padding: 15px;
    background-color: white;
    border: black;
    border-bottom: solid;
    border-color: grey;
    border-width: 1px;
    margin: auto;
}

.photo {
    height: 100px;
    width: 100px;
    padding-right: 10px;
}